<%= render 'shared/header' %>

<main class="py-10 max-w-7xl mx-auto px-4 sm:px-8">
    <%= form_for(@profile, builder: TailwindInputBuilder) do |f| %>
        <div class="flex justify-end items-center w-full mb-4">
            <div>
                <%= f.submit "Save", class: "flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-green-600 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-green-200" %><br/>
            </div>
        </div>

        <%= render 'shared/edit_section', title: "Profile details" do %>
            <%= f.text_field :name, value: @profile.name || current_user.name, placeholder: "Name" %><br/>
            <div class="flex items-center my-4">
                <%= image_tag gravatar_url_for(current_user), 
                    id: "image-preview", style:"max-width:200px"
                %>
            </div>
            <%= f.text_field :job_title, value: @profile.job_title, placeholder: "Job title" %><br/>
            <%= f.text_field :total_experience, value: @profile.total_experience, placeholder: "Total experience" %><br/>
            <%= f.text_area :overview, value: @profile.overview, placeholder: "Profile overview", required: true %><br/>
            <p>Career Highlights</p>
            <%= f.text_field :career_highlights, value: concat_str_with_comma(@profile.career_highlights), placeholder: "Career highlights" %>
            <%= render 'shared/multiple_inputs_message' %>
            
            <p>Primary Skills</p>
            <%= f.text_field :primary_skills, value: concat_str_with_comma(@profile.primary_skills), placeholder: "Primary skills" %>
            <%= render 'shared/multiple_inputs_message' %>
            
            <p>Secondary Skills</p>
            <%= f.text_field :secondary_skills, value: concat_str_with_comma(@profile.secondary_skills), placeholder: "Secondary skills" %>
            <%= render 'shared/multiple_inputs_message' %>
            
        <% end %>

        <%= render 'shared/edit_section', title: "Education" do %>
            <%= f.fields_for :educations do |education| %>
                <%= render 'shared/input/education', education: education %>
            <% end %><br />
            <%= render 'shared/input/buttons/add', label: "+ Add Education", path: "/educations/new" %>
        <% end %>
        
    <% end %>

</main>