<!DOCTYPE html>
<html>
  <head>
    <title>MyResume</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-50">

    <% flash.each do |message_type, message| %>
        <%= render 'shared/alert', type: message_type, message: message %>
    <% end %>
    
    <%= yield %>

  </body>
</html>
